body {
    background-color: #F3F4F6;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

a {
    /* display: block; */
    /* padding: 10px 15px; */
    color: black;
    font-style: normal;
}

table {
	border: 2px ridge #B3AC86;
    padding: 20px;
    margin: 10px;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.submenu {
    position: absolute;
    padding-left: 10px;
}

nav ul {
    background: #EFE7DE;
    color: #413003;
}

nav .submenu {
    display: none;
    background: #FFFBF0;
}

nav ul li:hover .submenu {
    display: block;
}

.text-left {
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;    
}

.flex-element {
    padding: 5px 16px;
    background: #FFFFFF;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.flex-element .auto-name {
    font-size: 24px;
    color: #2B2A29;
    display: block;
    line-height: 26px;
}

.flex-element .auto-short-description {
    display: block;
    font-size: 16px;
    margin-top: 4px;
}