<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../static/main.css" th:href="@{/main.css}"
	rel="stylesheet" />
</head>

<body>
	<div th:fragment="header">
		<nav>
			<ul class="topmenu">
				<li><a href="#">Catalogs</a>
					<ul class="submenu">
						<li><a th:href="@{/advert}">Adverts</a></li>
						<li><a th:href="@{/model}">Models</a></li>
						<li><a th:href="@{/plan}">Parsing plan</a></li>						
					</ul></li>
				<li><a href="#">Operations</a>
					<ul class="submenu">
						<li><a th:href="@{/parse}">Permit parse</a></li>
					</ul></li>	
				<li><a href="#">About</a></li>
			</ul>
		</nav>
	</div>

	<div>Content goes here</div>

	<div th:fragment="footer">
	</div>

</body>
</html>