<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Adverts</title>
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />
</head>

<body>
	<div id="header" th:include="page :: header"></div>

	<h2>Spring Boot Adverts</h2>

	<form th:object="${model}" method="post">
      <label for="brand">brand:</label>
      <input type="text" th:field="*{brand}"></input><br/>
      <label for="nomination">nomination:</label>
      <input type="text" th:field="*{nomination}"></input><br/>
      <input type="submit"></input>
    </form>

	<div id="footer" th:include="page :: footer"></div>
</body>
</html>