<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Adverts</title>
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />
</head>

<body>
	<div id="header" th:include="page :: header"></div>

	<h1>Spring Boot Adverts</h1>

	<a href="" th:href="@{/model/new}">Add new</a>

	<ul th:each="model : ${models}">
		<li><a href="" th:href="@{/model/}+${model.id}">
			<span th:text="${model.brand}">brand</span> <span th:text="${model.nomination}">model</span>			  
		</a></li>
	</ul>

	<div id="footer" th:include="page :: footer"></div>
</body>
</html>